.container-one {
  margin: 20px;
  padding: 25px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.container-one .box {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: #fff;
  margin: 0 15px 15px 0;
  border-radius: 20%;
  background: #003147;
}

.container-one .box p {
  color: #fff;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .container-one {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .container-one {
    grid-template-columns: repeat(2, 1fr);
  }
}
