@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-width: 100px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left-side{
    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .imgBx{
    position:  relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
    text-transform: capitalize;
}

.contact-info{
    padding-top: 40px;
}

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact-info ul{
    position: relative;
}

a{
    text-decoration: none;
    color: #fff;
}

.contact-info ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contact-info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contact-info ul li span{
    color: #fff;
    font-weight: 300;
}

.contact-info.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921 ;
    display: block;
    margin-top: 5px;
}

.contact-info.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.container .right-side{
    position: relative;
    background: #fff;
    padding: 40px;
}

.about{
    margin-bottom: 50px ;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.about p{
    color: #333;
    font-weight: 500;
}

.education{
   margin: -20px 0 50px 0;
}

.education li{
    margin-bottom: 15px;
    list-style: none;
}

.education h5{
    color: #03a9f4;
    font-weight: 500;
}

.education h4:nth-child(2){
    color: #081921;
    font-weight: 500;
}

.education h4{
    color: #081921;
    font-weight: 300;
}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4{
    text-transform: uppercase;
    width: 100%;
    color: #848c99;
    font-weight: 500;
}

.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
    /* border: 2px solid #333; */
}

.interest ul li .fa-solid{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
    margin-right: 4px;
    /* border: 2px solid #333; */

}

.btn{
    border: none;
    width: 100%;
    align-items: flex-start;
    height: 30px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 6px 14px 0 16px;    
    border-radius: 5px;
    margin-bottom: 12px;
}


.arrow-rotate{
/* border: 1px solid red; */
transform: rotateX(180deg);
padding: 3px;
}

.panel{
    display: none;
    padding-left: 40px;
    font-weight: 400;
}

.toggle-display{
    display: block;
}

.btn{
    color: black;
}

.toggle-btn-color{
    color : black;
}

@media (max-width: 1000px) {
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px){
    .about .box{
        flex-direction: column;
    }
    .interest ul{
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }
}